@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Merriweather", serif;
}

/* banner section styles */
.banner-container {
  max-width: 1320px;
  height: 600px;
  margin: 0 auto;
  margin-top: 40px;
  background-image: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url(../images/Banner\ Image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}
.banner-content {
  color: white;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-content h3 {
  font-size: 32px;
}
.banner-content h1 {
  font-size: 72px;
}

/* 65% section styles */
.sixty-five-section-container {
  max-width: 800px;
  max-height: 810px;
  margin: 120px auto;
  text-align: center;
}
.sixty-five-section-title {
  font-size: 85px;
  font-weight: bold;
  color: rgba(255, 0, 0, 1);
}
.sixty-five-section-sub-title {
  font-size: 18px;
  font-weight: 300;
  color: rgba(255, 0, 0, 1);
}
.sixty-five-section-description {
  font-size: 40px;
  font-weight: bold;
}
.sixty-five-section-img {
  width: 100%;
  height: 100%;
}

/* welcome section styles */
.welcome {
  width: 1320px;
  height: 600px;
  margin: 120px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(90.00deg, rgb(7,2,11), rgba(7,2,11,0) 100%), url(../images/Vectorrr.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.welcome-title {
  color: white;
  font-size: 64px;
}
.welcome-description {
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
}
.welcome-left {
  width: 650px;
}

/* place section styles */
.place-container {
  width: 1320px;
  height: 480px;
  background-image: linear-gradient(180.00deg, rgba(255,0,0,0.1), rgba(255,0,0,0) 100%);
  margin: 120px auto;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}
.place-details {
  text-align: center;
  line-height: 40px;
}
.place-button {
  background-color: rgba(255, 0, 0, 1);
  padding: 16px 32px;
  border: none;
  font-size: 20px;
  color: white;
  border-radius: 8px;
  margin-top: 45px;
}

/* comming styles */
.comming-container {
  width: 1320px;
  height: 460px;
  margin: 120px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.comming-section1 {
  width: 33%;
}
.comming-section2 {
  width: 33%;
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 15px solid rgba(255, 0, 0, 1);
  border-radius: 50%;
}
.comming-section2 img {
  width: 280px;
  height: 280px;
}
.comming-section3 {
  width: 33%;
}
.comming-section1 h3{
  font-size: 20px;
  color: rgba(255, 0, 0, 1);
  margin-bottom: 15px;
}
.comming-section1 h1 {
  font-size: 48px;
  margin-bottom: 15px;
}
.comming-section1 p {
  font-size: 16px;
  font-weight: normal;
  color: rgba(7, 2, 17, 0.6);
}
.comming-section3 h3 {
  font-size: 48px;
  font-weight: bold;
  color: rgba(255, 0, 0, 1);
  margin-bottom: 14px;
}
.comming-section3 p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(7, 2, 17, 0.6);
  margin-bottom: 40px;
}
/* holiday section styles */
.holiday-container {
  width: 1320px;
  height: 980px;
  margin: 120px auto;
  position: relative;
}
.holiday-text {
  width: 1060px;font-size: 70px;
  font-weight: 900;
  height: 260px;
  margin: 0 auto;
  text-align: center;
  line-height: 2;
}
.holiday-text h5 {
  font-size: 24px;
  font-weight: 500;
}
.holiday-text h1 {
  font-size: 70px;
  font-weight: 900;
}
.holiday-text p {
  font-size: 20px;
  font-weight: 500;
  color: rgba(7, 2, 17, 0.6);
}
.red {
  position: absolute;
  top: 76.6%;
}
.gift-box {
  position: absolute;
  z-index: 1;
}
.discount {
  position: absolute;
  top: 40%;
  left: 75%;
}
/* portfolio section styles */
.portfolio-container {
  width: 1320px;
  height: 1160px;
  margin: 120px auto;
}
.portfolio-text {
  line-height: 2;
  width: 890px;
  margin-bottom: 45px;
}
.portfolio-sub-title {
  font-size: 48px;
  font-weight: 900;
  color: rgba(7, 2, 17, 1);
}
.portfolio-description {
  font-size: 16px;
  font-weight: 400;
  color: rgba(7, 2, 17, 0.6);
}
.portfolio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.items {
  width: 420px;
  height: 450px;
}
.items img {
  width: 100%;
  height: 100%;
}